:root{
  --textColor: #e5e2eb;
  --gridColor: #2e3138;
  --gridInnerColor: rgba(38,40,47,1);

  --textGradient: linear-gradient(45deg, var(--textGradientColor1), var(--textGradientColor2), var(--textGradientColor3));
  --textGradientColor1: #3c42c4;
  --textGradientColor2: #ce79d2;
  --textGradientColor3: #f4dfbe;

  --backgroundGradient: radial-gradient(circle, rgba(38,40,47,1) 0%, rgba(0,0,0,1) 100%);
}

@property --gradientAngle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes gradientRotation {
  0% { --gradientAngle: 0deg;}
  100% { --gradientAngle: 360deg;}
}

html, body {
  height: 100%;
  margin: 0;
}

.App {
  color: var(--textColor);
  background: var(--backgroundGradient);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%; /* ensures that the background covers the entire page */
  margin: 0;
}

.SpecialTekst{
  text-align: center;
  font-size: 200%;
  background: var(--textGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Switcher button{
  font-size: 3em;
  border: none;
  background: none;
}

.Switcher button .icon {
  color: var(--gridColor);
  background-image: var(--textGradient);
}

.Switcher button.animate {
  animation: ButtonSpin 0.5s ease;
}

@keyframes ButtonSpin {
  0%{
    transform: rotateZ(0deg);
  }

  100%{
    transform: rotateZ(360deg);
  }
}