.bento-grid{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(4 * 216px);
    grid-gap: 16px;
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    padding: 16px;
}

.bento-item{
    background-color: var(--gridColor);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    transition: all 125ms ease-in-out;
    position: relative;
}

.bento-item.specialBorder::before,
.bento-item.specialBorder::after {
  content: "";
  position: absolute;
  inset: -.3rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradientAngle),
    var(--textGradientColor1),
    var(--textGradientColor2),
    var(--textGradientColor3),
    var(--textGradientColor2),
    var(--textGradientColor1)
  );
  border-radius: inherit;
  animation: gradientRotation 10s linear infinite;
  pointer-events: none; /* Prevents the pseudo-elements from blocking interactions */
  transform: none;
}

.bento-outer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.bento-outer img{
  max-width: 100%;
}

@media (max-width: 768px) {
    .bento-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }