.socials{
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socials li{
    list-style: none;
}

.socials li a {
    font-size: 2.3em;
    margin: 0 10px;
    display: inline-block;
    transition: all 125ms ease-in-out;
}

.socials li a .icon {
    color: var(--gridColor);
    background-image: var(--textGradient);
}

.socials li a:hover {
    transform: translateY(-10px);
}

@keyframes move {
    from {
        -webkit-mask-position-x: 0px;
    }

    to {
        -webkit-mask-position-x: 100px;
    }
}