.logo-banner{
    width: 100%;
    text-align: center;
}

.logo-banner h1{
    font-size: 300%;
    background: var(--textGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-banner p{
    font-size: 125%;
    color: var(--textColor);
}